body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 95vh;
  width: 95vw;
}

h1 {
  background-color: rgb(72, 77, 62, 0.6);
  border-radius: 12px;
  color: #BAD80A;
}